<!-- Router Link -->
<a *ngIf="isRouterLink; else nonRouterLink"
   [routerLink]="routerLink"
   [attr.aria-disabled]="disabled || loading"
   [tabindex]="(disabled || loading) ? -1 : 0"
   (click)="onButtonClick($event)">
  <ng-container *ngTemplateOutlet="buttonContent"></ng-container>
</a>

<!-- External Link or Button -->
<ng-template #nonRouterLink>
  <a *ngIf="isExternalLink; else buttonElement"
     [href]="href"
     [target]="target"
     [attr.aria-disabled]="disabled || loading"
     [tabindex]="(disabled || loading) ? -1 : 0"
     (click)="onButtonClick($event)">
    <ng-container *ngTemplateOutlet="buttonContent"></ng-container>
  </a>
</ng-template>

<!-- Button Element -->
<ng-template #buttonElement>
  <button [type]="type"
          [disabled]="disabled || loading"
          [attr.aria-busy]="loading"
          (click)="onButtonClick($event)">
    <ng-container *ngTemplateOutlet="buttonContent"></ng-container>
  </button>
</ng-template>

<!-- Button Content Template -->
<ng-template #buttonContent>
  <!-- Loading Spinner -->
  <span *ngIf="loading" 
        class="app-button__spinner" 
        aria-hidden="true">
  </span>
  
  <!-- Left Icon -->
  <span *ngIf="icon && iconPos === 'left' && !loading" 
        class="app-button__icon app-button__icon--left"
        [innerHTML]="icon">
  </span>
  
  <!-- Content -->
  <span class="app-button__content">
    <ng-content></ng-content>
  </span>
  
  <!-- Right Icon -->
  <span *ngIf="icon && iconPos === 'right' && !loading" 
        class="app-button__icon app-button__icon--right"
        [innerHTML]="icon">
  </span>
</ng-template>
