@import "tailwindcss";
@import "@nuxt/ui";

/* FOR DEMOCRATYYYYYYYYY */

@theme static {
        --color-super-earth-50: #fffbeb;
        --color-super-earth-100: #fef3c7;
        --color-super-earth-200: #fde68a;
        --color-super-earth-300: #fcd34d;
        --color-super-earth-400: #fbbf24;
        --color-super-earth: #f59e0b;
        --color-super-earth-600: #d97706;
        --color-super-earth-700: #b45309;
        --color-super-earth-800: #92400e;
        --color-super-earth-900: #78350f;
        --color-democratic-50: #eff6ff;
        --color-democratic-100: #dbeafe;
        --color-democratic-200: #bfdbfe;
        --color-democratic-300: #93c5fd;
        --color-democratic-400: #60a5fa;
        --color-democratic: #3b82f6;
        --color-democratic-600: #2563eb;
        --color-democratic-700: #1d4ed8;
        --color-democratic-800: #1e40af;
        --color-democratic-900: #1e3a8a;
        --color-tactical-50: #ecfdf5;
        --color-tactical-100: #d1fae5;
        --color-tactical-200: #a7f3d0;
        --color-tactical-300: #6ee7b7;
        --color-tactical-400: #34d399;
        --color-tactical: #10b981;
        --color-tactical-600: #059669;
        --color-tactical-700: #047857;
        --color-tactical-800: #065f46;
        --color-tactical-900: #064e3b;
        --color-alert-50: #fef2f2;
        --color-alert-100: #fee2e2;
        --color-alert-200: #fecaca;
        --color-alert-300: #fca5a5;
        --color-alert-400: #f87171;
        --color-alert: #ef4444;
        --color-alert-600: #dc2626;
        --color-alert-700: #b91c1c;
        --color-alert-800: #991b1b;
        --color-alert-900: #7f1d1d;
        --color-white: #ffffff;
        --color-border-gray: #475569;
        --color-surface-gray: #1E293B;
        --font-sans: 'Public Sans', system-ui, sans-serif;
        --font-mono: 'JetBrains Mono', monospace;

        --color-background: #0f172a;
}

* {
    color:  white;
}

body {
    background-color: var(--color-background);
    color: white;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3rem;
    font-weight: bolder;
    color: var(--color-super-earth);
}