.card {
    border: 1px solid var(--color-border-gray);
    padding: 1rem;
    border-radius: 1rem;
    &.hoverable {
        cursor: pointer;
        transition: all 0.3s ease;
        background-color: var(--color-border-gray);
    }
    &.default {
        background-color: var(--color-surface-gray);
    }
}