/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@theme {
    --color-primary-yellow: #FACC15;
    --color-democratic-blue: #3B82F6;
    --color-alert-red: #EF4444;
    --color-tactical-green: #10B981;
    --color-liberty-blue: #020617;
    --color-surface-gray: #1E293B;
    --color-border-gray: #475569;
}